@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__top {
        background-color: #31352B;
        font-size: 13px;
        color: #fff;
        @extend %opensans-700;
    }

    &__nav {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link.header__link-del {
        padding-left: 44px;
        margin-right: 84px;
        position: relative;
    }

    &__link.header__link-hotline {
        position: relative;
    }

    &__link.header__link-del::before {
        content: url(../images/icon/del.svg);
        position: absolute;
        width: 32px;
        height: 22px;
        left: 0;
        top: -5px;
    }

    &__link.header__link-hotline::before {
        content: url(../images/icon/tel.svg);
        position: absolute;
        width: 22px;
        height: 22px;
        left: -32px;
        top: -5px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item:not(:last-child) {
        margin-right: 24px;
    }

    &__bottom {
        background-color: $accent;
    }

    &__inner {
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        border: none;
        padding: 15px 38px 15px 60px;
        border-radius: 6px;
        background-color: #fff;
        @extend %opensans-600;
        color: $accent;
        cursor: pointer;
        position: relative;
        background-image: url(../images/icon/nav_icon.svg);
        background-repeat: no-repeat;
        background-position: 18px 16px;
        letter-spacing: 0.03em;
    }

    &__button::after {
        content: url(../images/icon/arrow.svg);
        position: absolute;
        right: 18px;
    }

    &__search {
        margin-right: 60px;
    }

    &__search-text {
        width: 420px;
        height: 50px;
        border: none;
        border-radius: 6px 0 0 6px;
        box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
        padding-left: 50px;
        background-image: url(../images/icon/icon-search.svg);
        background-repeat: no-repeat;
        background-position: 12px 16px;
    }

    &__search-btn {
        padding: 15px 52px;
        background-color: #31352B;
        border-radius: 0px 6px 6px 0px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link:not(:last-child) {
        margin-right: 30px;
    }

    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        top: -8px;
        left: -6px;
        font-size: 10px;
        line-height: 18px;
        color: $special;
        text-align: center;
    }
}

.top-slider {

    &__content {
        padding: 140px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__item {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        color: $subtitle;
        height: 315px;
        padding: 24px 0 24px 24px;
    }

    &__title {
        max-width: 761px;
        font-size: 60px;
        line-height: 1.3;
        @extend %ruda-900;
        margin-bottom: 12px;
        text-transform: uppercase;

        span {
            color: $special;
        }
    }

    &__text {
        font-size: 16px;
        margin-bottom: 40px;
    }
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
}

.slick-prev {
    left: 60px;
}

.slick-next {
    right: 60px;
}

.footer {
    padding: 30px 0;
    background-color: #31352B;
    color: #fff;

    &__logo-img {
        margin-bottom: 30px;
    }
}

.advantages {
    background-color: #F6F6F6;
    padding: 50px 0 30px;
    margin-bottom: 70px;

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__item {
        position: relative;
        max-width: 190px;
    }

    &__item--scooter::before {
        position: absolute;
        content: url(../images/icon/scooter.svg);
        left: -74px;
    }

    &__item--box::before {
        position: absolute;
        content: url(../images/icon/box.svg);
        left: -74px;
    }

    &__item--hours::before {
        position: absolute;
        content: url(../images/icon/hours.svg);
        left: -74px;
    }

    &__item:not(:last-child) {
        margin-right: 140px;
    }

    &__title {
        font-size: 16px;
        @extend %opensans-600;
        margin-bottom: 8px;
    }

    &__text {
        color: $subtitle;
    }
}

.product {

    &__inner {
        margin-bottom: 70px;
        text-align: center;
    }

    &__filter {
        margin-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 30px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__list-item:not(:last-child) {
        margin-right: 24px;
    }

    &__btn {
        @extend %opensans-700;
        font-size: 15px;
        color: $subtitle;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        transition: all .3s;
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 409px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    max-width: 300px;
    padding: 12px;
    text-align: left;

    &--new {
        .product-item__top::before {
            content: 'НОВИНКА';
            position: absolute;
            padding: 3px 6px;
            background-color: $accent;
            border-radius: 6px;
            top: 0;
            left: 0;
        }
    }

    &--hit {
        .product-item__top::before {
            content: 'ХИТ';
            position: absolute;
            padding: 3px 6px;
            background-color: #FF7A00;
            border-radius: 6px;
            top: 0;
            left: 0;
        }
    }

    &__top {
        height: 40px;
        margin-bottom: 5px;
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 10px;
        line-height: 1;
        color: #fff;
        @extend %opensans-700;
        position: relative;
    }

    &__discount {
        padding: 3px 6px;
        background-color: $special;
        border-radius: 6px;
        order: 2;
    }

    &__images {
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }

    &__name {
        @extend %opensans-600;
    }

    &__cart {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: $subtitle;
    }

    &__old-price {
        color: #C1C1C1;
        text-decoration: line-through
    }

    &__link {
        padding-top: 4px;
    }
}

.btn__product {
    display: inline-block;
}

.banners {
    margin-bottom: 70px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 32px;
        height: 300px;
        border-radius: 6px;
        text-transform: uppercase;
        color: $subtitle;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__item:nth-child(1) {
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        grid-column: span 2;

        & .banners__text {
            max-width: 436px;
        }

        & .banners__link {
            border-bottom: 2px solid #fff;
        }
    }

    &__title,
    &__link {
        @extend %opensans-700;
        line-height: 1;
    }

    &__title {
        font-size: 12px;
        margin-bottom: 20px;
    }

    &__text {
        @extend %ruda-600;
        font-size: 30px;
        margin-bottom: 10px;
        max-width: 160px;
    }

    &__link {
        width: max-content;
        border-bottom: 2px solid $subtitle;
        padding-bottom: 5px;
    }
}

.stock {
    &__wrapper {
        padding: 70px 0;
        background-color: #F5F5F5;
    }

    &__inner {
        text-align: center;
    }

    &__filter {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__list-item:not(:last-child) {
        margin-right: 30px;
    }

    &__list-btn {
        @extend %opensans-700;
        font-size: 15px;
        color: $subtitle;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        transition: all .3s;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        margin-bottom: 50px;
    }

    &__item {
        height: 124px;
        background-color: #fff;
        border: 1px solid #C1C1C1;
        border-radius: 6px;
        padding: 12px;
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: left;
        color: $subtitle;

        &--new,
        &--hit {
            .stock__item-right::before {
                content: 'НОВИНКА';
                position: absolute;
                padding: 3px 6px;
                background-color: $accent;
                border-radius: 6px;
                font-size: 10px;
                color: #fff;
                @extend %opensans-700;
                line-height: 1;
            }
        }

        &--hit {
            .stock__item-right::before {
                content: 'ХИТ';
                background-color: #FF7A00;
            }
        }
    }

    &__item-right {
        display: flex;
    }

    &__item-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 164px;
        @extend %opensans-600;
    }

    &__item-name {
        height: 58px;
    }

    &__item-price {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        line-height: 1;
        width: 164px;
    }

    &__item-new {
        font-size: 20px;

        & span {
            font-size: 14px;
        }
    }

    &__item-old {
        font-size: 12px;
        @extend %opensans-400;
        color: #C1C1C1;
        text-decoration: line-through;
    }

    &__item-rating {
        @extend %opensans-700;
        position: relative;
        margin-right: 18px;

        &::after {
            content: url(../images/icon/star.svg);
            position: absolute;
            width: 16px;
            height: 16px;
            top: -1px;
            left: 22px;
        }
    }

    &__item-status {
        font-size: 10px;
        line-height: 1;
        color: $accent;

        &.ends {
            color: $special;
        }

        &.sold {
            color: #C1C1C1;
        }
    }
}

.mixitup-control-active {
    border-bottom: 3px solid #E0EDCF;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;

    &__text {
        margin-bottom: 20px;
    }

    &__form {
        width: 305px;
    }

    &__form-input {
        max-width: 180px;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 6px 0px 0px 6px;
        padding: 12px;
    }

    &__form-btn {
        max-width: 125px;
        height: 40px;
        border: none;
        border-radius: 0px 6px 6px 0px;
        padding: 13px 16px;
        font-size: 12px;
        @extend %opensans-700;
        color: #fff;
        background-color: $accent;
        cursor: pointer;
    }

    &__list-item {
        margin-bottom: 18px;
    }

    &__phone,
    &__address {
        display: block;
        margin-bottom: 18px;
    }

    &__social-list {
        display: flex;
    }

    &__social-item:not(:last-child) {
        margin-right: 12px;
    }
}

.blog {
    padding: 70px 0;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        & h3 {
            margin-bottom: 0;
        }
    }

    &__link {
        color: $accent;
        line-height: 1.3;
        @extend %opensans-700;
        border-bottom: 2px solid $accent;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 410px;
        background-color: #fff;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        position: relative;
    }

    &__data {
        width: 65px;
        height: 76px;
        background-color: #fff;
        position: absolute;
        font-size: 10px;
        margin-left: 20px;
        border-radius: 0px 0px 4px 4px;
        @extend %opensans-700;
        text-align: center;
        align-content: center;
        padding-top: 18px;

        & span {
            font-size: 30px;
            line-height: 1;
            @extend %ruda-600;
            display: block;
        }
    }

    &__img {
        height: 240px;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
        margin-bottom: 20px;
    }

    &__text {
        padding: 0 18px 18px 18px;
        font-size: 16px;
        line-height: 1.5;
        @extend %opensans-600;
    }
}

.partners {
    margin-bottom: 70px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    &__accept {
        display: flex;

        &-img:first-child {
            margin-right: 24px;
        }
    }
}

@import 'media';