@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    &__top{
        background-color: #31352B;
        font-size: 13px;
        color: #fff;
        @extend %opensans-700;
    }

    &__nav {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link.header__link-del {
        padding-left: 44px;
        margin-right: 84px;
        position: relative;
    }

    &__link.header__link-hotline {
        position: relative;
    }

    &__link.header__link-del::before {
        content: url(../images/icon/del.svg);
        position: absolute;
        width: 32px;
        height: 22px;
        left: 0;
        top: -5px;
    }

    &__link.header__link-hotline::before {
        content: url(../images/icon/tel.svg);
        position: absolute;
        width: 22px;
        height: 22px;
        left: -32px;
        top: -5px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item:not(:last-child) {
        margin-right: 24px;
    }

    &__bottom {
        background-color: $accent;
    }

    &__inner {
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        border: none;
        padding: 15px 38px 15px 60px;
        border-radius: 6px;
        background-color: #fff;
        @extend %opensans-600;
        color: $accent;
        cursor: pointer;
        position: relative;
        background-image: url(../images/icon/nav_icon.svg);
        background-repeat: no-repeat;
        background-position: 18px 16px;
        letter-spacing: 0.03em;
    }

    &__button::after {
        content: url(../images/icon/arrow.svg);
        position: absolute;
        right: 18px;
    }

    &__search {
        margin-right: 60px;
    }

    &__search-text {
        width: 420px;
        height: 50px;
        border: none;
        border-radius: 6px 0 0 6px;
        box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
        padding-left: 50px;
        background-image: url(../images/icon/icon-search.svg);
        background-repeat: no-repeat;
        background-position: 12px 16px;
    }

    &__search-btn {
        padding: 15px 52px;
        background-color: #31352B;
        border-radius: 0px 6px 6px 0px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link:not(:last-child) {
        margin-right: 30px;
    }

    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        top: -8px;
        left: -6px;
        font-size: 10px;
        line-height: 18px;
        color: $special;
        text-align: center;
    }
}

.footer {
    padding: 30px 0;
    background-color: #31352B;
    color: #fff;

    &__logo-img {
        margin-bottom: 30px;
    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;

    &__text {
        margin-bottom: 20px;
    }

    &__form {
        width: 305px;
    }

    &__form-input {
        max-width: 180px;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 6px 0px 0px 6px;
        padding: 12px;
    }

    &__form-btn {
        max-width: 125px;
        height: 40px;
        border: none;
        border-radius: 0px 6px 6px 0px;
        padding: 13px 16px;
        font-size: 12px;
        @extend %opensans-700;
        color: #fff;
        background-color: $accent;
        cursor: pointer;
    }

    &__list-item {
        margin-bottom: 18px;
    }

    &__phone,
    &__address {
        display: block;
        margin-bottom: 18px;
    }

    &__social-list {
        display: flex;
    }

    &__social-item:not(:last-child) {
        margin-right: 12px;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    &__accept {
        display: flex;

        &-img:first-child {
            margin-right: 24px;
        }
    }
}


@import 'media';